# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore environment variables file
.env

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore VS Code and PyCharm settings (if applicable)
.vscode/
.idea/
